{% extends "base_templates/base.html" %}
{% block main %}
      <div class="row">
        <div class="col-lg-8 pgmain">
          {%- if version_warning and current_user.has_roles(['admin', 'developer']) %}
          <div class="alert alert-danger">
            {{ version_warning }}
          </div>
          {%- endif %}
          {%- block content %}{% endblock %}
        </div>
        <div class="col-lg-4 pgright">
          {%- block rightside %}{% endblock %}
        </div>
      </div>
      <div class="row mt-3">
        {%- block bottompart %}{% endblock %}
      </div>
{%- endblock %}
