<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ tab_title }}</title>
    <script type="text/javascript" src="https://appsforoffice.microsoft.com/lib/1.1/hosted/office.debug.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='office/fabric.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='office/fabric.components.css') }}" />
    <link href="{{ url_for('static', filename='office/app.css') }}" rel="stylesheet" type="text/css" />
</head>
<body class="ms-font-m ms-welcome">
    <!--<header class="ms-welcome__header ms-bgColor-neutralLighter ms-u-fadeIn500">
        <img width="90" height="90" src="{{ url_for('static', filename='office/cat-in-circle.png') }}" alt="{{ page_title }}" title="{{ page_title }}" />
        <h1 class="ms-fontSize-su ms-fontWeight-light ms-fontColor-neutralPrimary">{{ page_title }}</h1>
    </header>-->
    <div id="serverNameDiv">
      <label for="serverName">Your docassemble server</label>
      <input id="serverName" type="text" class="ms-TextField-field" placeholder="https://interviews.example.org" />      
      <div style="color: red; display: none;" id="serverNameError">
        Please enter a valid URL.
      </div>
      <div role="button" id="serverSet" class="ms-Button ms-Button--primary">
        <span class="ms-Button-label ms-Label">Connect to server</span>
      </div>
    </div>
    <iframe id="server" style="width: 100%; height: 450px; border-style: none; display: none"></iframe>
    <main id="app-body" class="ms-welcome__main" style="display: none;">
{%- block content %}{% endblock %}
    </main>
    <section id="sideload-msg" class="ms-welcome__main">
        <h2 class="ms-font-xl ms-fontWeight-semilight ms-fontColor-neutralPrimary ms-u-slideUpIn20">{{ word('Please sideload this addin to see app body.') }}</h2>
    </section>
    <script type="text/javascript" src="{{ url_for('static', filename='app/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='office/fabric.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='office/polyfill.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='office/app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app/js.cookie.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='office/office.js') }}"></script>
</body>
</html>
