{%- extends "base_templates/base.html" %}
{%- block main %}
      <div class="container">
        <div class="col-sm-8 col-md-7 col-lg-6">
          {%- block content %}{% endblock %}
        </div>
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8">
            {%- block below %}{% endblock %}
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            {%- block rightside %}{% endblock %}
          </div>    
        </div>
      </div>
{%- endblock %}
