[bumpversion]
current_version = 1.8.3
commit = True
tag = True

[bumpversion:file:docassemble_base/pyproject.toml]
search = {current_version}'
replace = {new_version}'

[bumpversion:file:docassemble_demo/pyproject.toml]
search = {current_version}'
replace = {new_version}'

[bumpversion:file:docassemble_webapp/pyproject.toml]
search = {current_version}'
replace = {new_version}'

[bumpversion:file:docassemble_base/docassemble/base/__init__.py]

[bumpversion:file:docassemble_demo/docassemble/demo/__init__.py]

[bumpversion:file:docassemble_webapp/docassemble/webapp/__init__.py]

[bumpversion:file:docassemble_webapp/docassemble/webapp/setup.py]

[bumpversion:file:Docker/VERSION]

[bumpversion:file:docassemble_webapp/docassemble/webapp/data/VERSION.txt]
