<VirtualHost *:8080>
    ServerAdmin ${DASERVERADMIN}
    ServerName ${DAHOSTNAME}
    DocumentRoot "/var/www/html/log"
    <Directory "/var/www/html/log">
        DirectoryIndex ${POSTURLROOT}cgi-bin/index.sh
        Require all granted
    </Directory>
    ScriptAlias "${POSTURLROOT}cgi-bin/" "/usr/lib/cgi-bin/"
    <Directory "/usr/lib/cgi-bin/">
        Options +ExecCGI
    </Directory>
    ErrorLog /var/log/apache2/error.log
    CustomLog /var/log/apache2/access.log combined
</VirtualHost>
