<IfModule mod_ssl.c>
    <VirtualHost *:443>
        ServerAdmin webmaster@localhost
        #ServerName {{DAHOSTNAME}}
        SSLEngine on
        SSLCertificateFile /etc/ssl/docassemble/docassemble.crt
        SSLCertificateKeyFile /etc/ssl/docassemble/docassemble.key 
        SSLCertificateChainFile /etc/ssl/docassemble/docassemble.ca.pem
        XSendFile on
        XSendFilePath /usr
        XSendFilePath /tmp
        WSGIDaemonProcess docassemble.webserver user=www-data group=www-data threads=5
        WSGIScriptAlias / /usr/share/docassemble/webapp/docassemble.wsgi
        <Directory /usr/share/docassemble/webapp>
            WSGIProcessGroup docassemble.webserver
            WSGIApplicationGroup %{GLOBAL}
            AllowOverride none
            Require all granted
        </Directory>
        Alias /robots.txt /var/www/html/robots.txt
        Alias /favicon.ico /var/www/html/favicon.ico
        ErrorLog /var/log/apache2/error.log
        CustomLog /var/log/apache2/access.log combined
    </VirtualHost>
</IfModule>
