server {
    listen 8080;
    server_tokens off;
    server_name {{DAHOSTNAME}};
    client_max_body_size {{DAMAXCONTENTLENGTH}};

    location / {
        root /var/www/html/log;
	index /listlog;
    }

    location /listlog {
        include uwsgi_params;
        uwsgi_pass unix:/var/run/uwsgi/docassemblelog.sock;    
    }

}