{% assign example = site.data.example[include.demo] %}
<div class="row"><div class="col-md-5">
{% highlight yaml %}
{{ example }}
{% endhighlight %}
<div class="dafull" title="See the full code sample"><a href="{{ site.github.repository_url }}/blob/master/docassemble_demo/docassemble/demo/data/questions/examples/{{ include.demo }}.yml" target="_blank"><i class="glyphicon glyphicon-option-horizontal"></i></a></div>
</div><div class="col-md-6"><a href="{{ site.demourl }}?i=docassemble.demo:data/questions/examples/{{ include.demo }}.yml" target="_blank"><img class="example" alt="{{ include.demo }}" title="Click to try this interview" src="{{ site.baseurl }}/img/{% if include.image %}{{ include.image }}{% else %}examples/{{ include.demo }}.png{% endif %}"></a></div></div>
