    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarLinks" aria-expanded="false" aria-controls="navbarLinks" aria-label="Toggle menu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarLinks">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {%- assign sorted_pages = site.pages | sort:"order" %}
            {%- for thepage in sorted_pages %}
              {%- if thepage.url contains '/search.html' or thepage.url contains '/index.html' or thepage.url == '/' %}
                {%- continue %}
              {%- endif %}
              {%- if thepage.short_title %}
            <li class="nav-item{% if page.url == thepage.url or (page.url contains 'docs' and thepage.url == '/docs.html') %} active{% endif %}"><a class="nav-link" href="{{ thepage.url | prepend: site.baseurl }}">{{ thepage.short_title }}</a>
              {%- elsif thepage.title %}
            <li class="nav-item"><a class="nav-link" href="{{ thepage.url | prepend: site.baseurl }}">{{ thepage.title }}</a></li>
              {%- endif %}
            {%- endfor %}
          </ul>
          <form action="{{ site.baseurl }}/search.html" method="get" accept-charset="UTF-8" class="d-flex">
            <input type="search" class="form-control me-2" placeholder="Search for..." aria-label="Search" name="q"/>
            <button class="btn btn-outline-secondary" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>
