<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        {% for thepage in site.pages %}
  	  {% if thepage.url contains '/index.html' or thepage.url == '/' %}
	  {% else %}
            {% if thepage.short_title %}
        <li{% if page.url == thepage.url or (page.url contains 'docs' and thepage.url == '/docs.html') %} class="active"{% endif %}><a href="{{ thepage.url | prepend: site.baseurl }}">{{ thepage.short_title }}</a>
            {% elsif thepage.title %}
        <li><a href="{{ thepage.url | prepend: site.baseurl }}">{{ thepage.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        <li><a href="{{ site.github.repository_url }}">View on GitHub</a></li>
      </ul>
      <form action="{{ site.baseurl }}/search.html" method="get" accept-charset="UTF-8" class="navbar-form navbar-right">
	<div class="input-group">
	  <input type="text" class="form-control" placeholder="Search for..." name="q">
	  <span class="input-group-btn">
	    <button class="btn btn-default" type="submit">
	      <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
	    </button>
	  </span>
	</div>
      </form>
    </div>
  </div>
</nav>
