{%- assign example = site.data.example[include.demo] %}
<div class="row">
  <div class="col-md-6">
    <div class="daexample">
{% highlight yaml %}
{{ example }}
{% endhighlight %}
      <div class="dafull" title="See the full code sample">
        <a href="{{ site.github.repository_url }}/blob/master/docassemble_base/docassemble/base/data/questions/examples/{{ include.demo }}.yml" title="Open on GitHub" target="_blank"><span class="sr-only">GitHub</span><i class="fas fa-ellipsis-h"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <a href="{% if include.path %}{{ site.baseurl }}{{ include.path }}{% else %}{{ site.demourl }}/interview?i=docassemble.base:data/questions/examples/{{ include.demo }}.yml&reset=1{% endif %}" target="_blank" title="Click to try this interview"><img class="example" alt="Screenshot of {{ include.demo }} example" src="{{ site.baseurl }}/img/{% if include.image %}{{ include.image }}{% else %}examples/{{ include.demo }}.png{% endif %}"></a>
  </div>
</div>
