{%- set footer_content = get_part('reset password page footer', get_part('global footer')) %}
{%- set page_title = get_part('reset password page title', word('Reset password')) %}
{%- set tab_title = get_part('reset password page tab title', word('Reset password')) %}
{%- set extra_css = get_part('reset password page extra css') %}
{%- set extra_js = get_part('reset password page extra javascript') %}
{%- extends 'flask_user/public_base.html' %}
{%- block content %}
{%- from "base_templates/form_macros.html" import render_field, render_submit_field %}
          <h1>{{ get_part('reset password page heading', word('Reset password')) }}</h1>
{{ get_part('reset password pre') }}
          <form action="" method="POST" class="form" role="form">
            {{ form.hidden_tag() }}
            {{ render_field(form.new_password) }}
            {%- if user_manager.enable_retype_password %}
            {{ render_field(form.retype_password) }}
            {%- endif %}
            {{ get_part('reset password page submit') }}<div class="form-actions">
              {{ render_submit_field(form.submit) }}
            </div>
          </form>{{ get_part('reset password page post') }}
{%- endblock %}
