{% extends 'flask_user/member_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<h1>{{ word("User profile") }}</h1>

{% if user_manager.enable_change_username %}
<p><a href="{{ url_for('user.change_username') }}">{{ word("Change username") }}</a></p>
{% endif %}
{% if user_manager.enable_change_password %}
<p><a href="{{ url_for('user.change_password') }}">{{ word("Change password") }}</a></p>
{% endif %}

{% endblock %}
