@grid-float-breakpoint: @screen-md-min;

@mixin border-radius($radius...) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow...) {
-webkit-box-shadow: $shadow;
-moz-box-shadow: $shadow;
box-shadow: $shadow;
}

.left { float: left; }
.right { float: right; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

@media (min-width: 992px) {
  .sidebar-nav .navbar .navbar-collapse {
	padding: 0;
	max-height: none;
  }
  .sidebar-nav .navbar ul {
	float: none;
  }
  .sidebar-nav .navbar ul:not {
	display: block;
  }
  .sidebar-nav .navbar li {
	float: none;
	display: block;
  }
  .sidebar-nav .navbar li a {
	padding-top: 6px;
	padding-left: 30px;
	padding-bottom: 6px;
  }
}
.sidebar-nav .navbar-header{ float: none; }

%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.title-body {
  height: 100%;
}

.site-wrapper {
  display: table;
  color: white;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background-color: black;
  text-align: center;
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* -webkit-box-shadow: inset 0 0 100px rgba(255,255,255,.5);
          box-shadow: inset 0 0 100px rgba(255,255,255,.5); */
}

.site-wrapper-inner {
  display: table-cell;
  padding-top: 60px;
  vertical-align: top;
}

.cover-container {
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.cover-heading {
    padding-top: 50px;
    text-align: center;
}

.logo-image {
  display: none;
}

@media (min-width: 768px) and (min-height: 400px) {
  .logo-image {
    display: inline;
    width: 90%;
    max-width: 400px;
  }
  .cover-heading {
      display: none;
      padding-top: 0px;
  }
}

/* Padding for spacing */
.over-image {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.box-over-image {
  box-shadow: 0.05em 0.05em 0.2em black;
}

.inner {
  padding: 30px;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.title-nav nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  margin-bottom: 0px;
  vertical-align: top;
  text-align: left;
  border-radius: 0px;
}

.mastfoot {
  color: #fff; /* IE8 proofing */
  text-shadow: black 0.1em 0.1em 0.2em;
  /* color: rgba(255,255,255,.5); */
}

.mastfoot a {
  color: #ccc;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  @media (orientation: landscape) {
    .site-wrapper-inner {
      padding-top: 0px;
      vertical-align: middle;
    }
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    padding-top: 0px;
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.section-nav {
    text-align: center;
    padding-top: 40px;
    position: relative;
    background-color: white;
    margin: 40px -20px 10px;
    
    > div { width: 49.5%; }
    
    a,
    span {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 8px 12px 10px;
	@include border-radius(5px);
	/*border: 1px solid #333;*/
	@include box-shadow(0 1px 3px rgba(0,0,0,.3), inset 0 1px 1px rgba(255,255,255,.5));
	background-color: #c6c6c6;
    }
    a:hover {
	color: #fff;
	background-color: #222;
    }
    .next,
    .prev { position: relative; }
    .next:after,
    .prev:before {
	font-size: 36px;
	color: #222;
	font-weight: 900;
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
	position: absolute;
	top: -7px;
    }
    .next:after {
	content: '\203A';
	right: 10px;
    }
    .prev:before {
	content: '\2039';
	left: 10px;
    }
    .prev,
    .prev:hover { padding-left: 30px; }
    .next,
    .next:hover { padding-right: 30px; }
    .disabled {
	opacity: .5;
	cursor: default;
    }
}
p img {
    @include box-shadow(0px 0px 6px rgba(0,0,0,.3), inset 0px 0px 0px rgba(255,255,255,.8));
    border-radius: 4px;
    }

img.example {
    padding-bottom: 20px;
    margin-bottom: 10px;
    @include box-shadow(0px 0px 6px rgba(0,0,0,.3), inset 0px 0px 0px rgba(255,255,255,.8));
    max-width: 100%;
    border-radius: 4px;
}

img.full-width {
    width: 100%;
}

div.vert-scroll {
    @include box-shadow(0px 0px 6px rgba(0,0,0,.3), inset 0px 0px 0px rgba(255,255,255,.8));
    max-height: 500px;
    overflow-y: scroll;
    display: inline-block;
    max-width: 100%;
    border-radius: 4px;
}

div.vert-scroll img {
    max-width: 100%;
}

table.gsc-table-result td {
    padding-left: 8px;
    padding-right: 8px;
}

div.gsc-cursor-box {
    text-align: center;
}

img.nofloat {
    float: none;
}

img.maybe-full-width {
    float: none;
    max-width: 100%;
}

h1 > a.bookmark,
h2 > a.bookmark,
h3 > a.bookmark,
h4 > a.bookmark,
h5 > a.bookmark {
    display: none;
    color: #800000;
    text-decoration: none;
}

h1:hover > a.bookmark,
h2:hover > a.bookmark,
h3:hover > a.bookmark,
h4:hover > a.bookmark,
h5:hover > a.bookmark {
    display: inline;
}

div.col-md-5 > figure > pre {
    max-height: 650px;
    overflow-y: auto;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-color: #83b3dd;
    width: 100%;
    display: table;
    color: #fff;
}

.bgcolor {
    background-color: #fff;
    color: #000;
    min-height: 100%;
    width: 100%;
    display: table;
    padding: 0 10px 0 10px;
}

.bgcolortwo {
    background-color: #fff;
    color: #000;
    width: 100%;
    display: table;
    padding: 10px;
}

.bgimg-1 {
    height: 100%;
    text-align: center;
    padding: 0;
}

.bgimg-2 {
    height: 300px;
}

.bgimg-3, .bgimg-4 {
    height: 200px;
}

@media (min-width: 768px) {
    .bgcolor {
	padding: 50px 100px 50px 100px;
    }
    .bgcolortwo {
	padding: 0px 100px 50px 100px;
    }
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    }
    .bgimg-1 {
	background-image: url("/img/background.jpg");
    }
    .bgimg-2 {
	background-image: url("/img/background3.jpg");
    }
    .bgimg-3 {
	background-image: url("/img/background2.jpg");
    }
    .bgimg-4 {
	background-image: url("/img/tangle.jpg");
    }
}

.mega {
    font-size: 40px;
}

.ontop {
    background-color: white;
}

.ontop nav {
    z-index: 10000;
}

.titleonepage {
    height: 100%;
    width: 100%;
}

.caption {
    display: table-cell;
    vertical-align: middle;
}

.centered {
    text-align: center;
}

.miniblock {
    padding: 5px;
}

@media (min-width: 992px) {
    .miniblock {
	padding: 20px;
    }
}

.miniblock > div {
    border-style: solid;
    border-width: 2px;
    border-color: #ddd;
    border-radius: 10px;
    text-align: center;
    min-height: 200px;
    padding: 15px 10px 10px 10px;
}

/*.boxcontainer {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.boxtext {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.spacer {
    position: relative;
    padding-top: 10px;
}*/

.centerimage {
    max-width: 100%;
}

.whitelink {
    color: #fff;
}

.whitelink:hover {
    color: #ddd;
}

.padbuttons > a {
    margin: 3px;
}

.centercontainer {
    display: table;
}