@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
	padding: 0;
	max-height: none;
  }
  .sidebar-nav .navbar ul {
	float: none;
  }
  .sidebar-nav .navbar ul:not {
	display: block;
  }
  .sidebar-nav .navbar li {
	float: none;
	display: block;
  }
  .sidebar-nav .navbar li a {
	padding-top: 6px;
	padding-left: 30px;
	padding-bottom: 6px;
  }
}
.sidebar-nav .navbar-header{ float: none; }

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
