body.dabody {
    border: 0px;
    margin: 0px;
    padding-top: 60px;
    padding-bottom: 40px;
}

body.dainactive {
    background-color: #f2dede;
}

body.dainactive .form-control{
    background-color: #f2dede;
}

body.dainactive > .navbar-inverse {
    background-image: linear-gradient(to bottom,#883c3c 0,#522 100%);
}

.slider-horizontal {
    width: 100% !important;
    margin-top: 15px;
}

.alert {
    max-height: 150px;
    overflow-y: auto;
}

.daiconbox {
    font-size: 13px;
    font-family:Roboto,arial,sans-serif;
    font-weight:700;
    color: #262626;
    cursor:pointer;
    border-style:solid;
    border-width:1px;
    border-color: rgba(0, 0, 0, 0.17);
    border-radius: 2px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    text-align:center;
    height:36px;
    width:250px;
    margin-top: 5px;
}

a.nohover:hover {
    text-decoration: none !important;
}

button.btn-da-custom {
    width: 8em;
    height: 8em;
    white-space: normal;
    text-align: center;
    vertical-align: middle;
}

.checkbox_count {
    display: none;
}

.invisible {
    display: none;
}

.checkbox_count_number {
}

.helpavailable {
    background-color: yellow;
}

.chat-active {
    color: #45bf41;
}

.chat-session {
    overflow: hidden;
}

.chat-active:hover {
    color: #55cf51;
}

.chat-inactive {
    color: #4f4f4f;
}

.chat-inactive:hover {
    color: #5f5f5f;
}

a.sourceactive {
    background-color: #080808;
    background-image: linear-gradient(to bottom, #080808 0px, #0F0F0F 100%);
}
.form-group.required .control-label:after {
    position: absolute;
    content: '*';
    color: red;
    right: 5px;
    top: 5px;
}
.form-group.required.greyedout .control-label:after { 
    display: none;
}
.form-group.greyedout .control-label { 
    color: #999999;
}
.daselect {
    margin-top: 7px;
}

.googleMap {
    width: 100%;
}

.daspacer {
    height: 3px;
}

.daspacer-large {
    height: 15px;
}

.daterm {
    cursor: pointer;
    color: #408E30
}

.daterm:hover {
    cursor: pointer;
    color: #408E30;
    text-decoration: none;
}

.daiconfloat {
    image-orientation: from-image;
    float: right;
}

.daicon {
    image-orientation: from-image;
}

.daclear {
    clear:both;
}

.daactive {
    background-color: yellow;
}

.dabackicon {
    background: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
}

.dalarge {
    font-size: 1.2em;
}

.datab {
    display: inline-block;
    width: 4em;
}

table.datable {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.daborder {
    border-style: solid;
    border-width: 1px;
}

.daflushleft {
    text-align: left;
}

.daflushright {
    text-align: right;
}

.dabold {
    font-weight: bold;
}

.dacenter {
    text-align: center; 
}

.wrappre {
    white-space: pre-wrap;
    max-height: 400px;
    overflow: auto;
}

.vspace {
    margin-top: 10px;
}
.mynavbar-text {
  float: right;
  height: 50px;
  padding: 15px 15px;
  color: #9d9d9d;
}
.mynavbar-text:hover,
.mynavbar-text:focus {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}

.daactivetext {
    color: yellow;
}

.daactivetext:hover {
    color: #ffff99;
}

div.playgroundbox div.panel-body {
    height: 30em;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    padding-right: 0px;
}

div.playgroundbox table td {
    padding-bottom: 5px;
    font-size: 16px;
}

div.playgroundbox table td.playground-warning-box {
    padding-right: 15px;
    font-size: 14px;
    padding-bottom: 0px;
}

pre {
    margin: 0;
}

div.highlight {
    margin: 0 0 5px 0;
}

img.example_screenshot {
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 4px;
    padding-bottom: 20px;
    max-width: 100%;
}

.example-link {
    cursor: pointer;
}

.example-heading {
    cursor: pointer;
    font-weight: bold;
}

div > ul.example-list {
    max-height: 35em;
    overflow-y: auto;
}

ul.example-list ul {
    margin-left: 20px;
}

ul.example-list > li > a{
    padding: 2px 15px;
}

ul.example-list > li {
    margin-top: 0px;
}

.example-hidden {
    display: none;
}

div.example-source-col {
    min-height: 600px;
}

div.example-source-col div.highlight {
    max-height: none;
}

a.example-copy {
    font-size: 14px;
    float: right;
}

a.example-documentation {
    font-size: 14px;
    float: right;
}

a.corner-remove {
    float: right;
    cursor: pointer;
    color: #666666;
    font-size: 20px;
}

a.corner-remove:hover {
    color: #000000;
}

table.daplaygroundtable {
    table-layout:fixed;
    width: 100%;
}

/* table.daplaygroundtable tbody { */
/*     max-width: 100%; */
/* } */

/* table.daplaygroundtable tr { */
/*     max-width: 100%; */
/* } */

table.daplaygroundtable td {
    /* vertical-align: middle; */
    /*max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
    line-height: 20px;
}

table.daplaygroundtable td table {
    margin-top: 5px;
    table-layout:fixed;
    width: 100%;
}

table.daplaygroundtable td table td {
    padding-left: 10px;
}

.example-hider {
    float: right;
    cursor: pointer;
}

#example-source-before {
    margin-top: 5px;
}

#example-source-after {
    margin-top: 5px;
}

#example-source-before pre {
    background-color: #e7e7e7;
}

#example-source-after pre {
    background-color: #e7e7e7;
}

a.review-action {
    font-size: 14px;
    float: right;
}

a.example-share {
    font-size: 14px;
    float: right;
}

.dachatbox {
    max-height: 20em;
    overflow-y: auto;
    margin-bottom: 5px;
}

/* .dachatbutton { */
/*     overflow: hidden; */
/* } */

.dachatbutton a {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
}

.dalistright {
    text-align: right;
}

a.example-share:focus {
    outline: none;
}

a.dashowmethods:focus {
    outline: none;
}

img.daimageicon {
    height: 14px;
    display: inline-block;
    line-height: normal;
}

.playground-variable {
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    padding-left: 7.2px;
    padding-right: 7.2px;
    padding-bottom: 3.6px;
    padding-top: 3.6px;
    line-height: normal;
    max-width: 90%;
}

span.daparenthetical {
    color: #777777;
    font-size: 14px;
    cursor: pointer;
    /* vertical-align: middle; */
    display: inline-block;
    line-height: normal;
}

.daquestionsign {
    color: #5cb85c;
    vertical-align: middle;
    /* vertical-align: -2px; */
    cursor: pointer;
    text-decoration: none !important;
    line-height: normal;
    float: right;
    margin-right: 3px;
    font-size: 16px;
}

.dainfosign {
    color: rgb(49, 112, 143);
    vertical-align: middle;
    /* vertical-align: -2px; */
    cursor: pointer;
    text-decoration: none !important;
    line-height: normal;
    float: right;
    margin-right: 3px;
}

.dashowmethods {
    color: rgb(49, 112, 143);
    vertical-align: middle;
    /* vertical-align: -2px; */
    cursor: pointer;
    text-decoration: none !important;
    line-height: normal;
    float: right;
    margin-right: 3px;
}

.observebutton {
    font-size: 14px;
    float: right;
    margin-bottom: 4px;
    margin-left: 4px;
}

.chat-status-label {
    width: 6em;
    font-size: 14px;
    float: left;
    margin-bottom: 4px;
    margin-right: 8px;
}

.chatcontrol {
    height: 24px
}

div.striping:nth-child(even) {
    background-color: #e7e7e7;
}

div.fieldpart {
    padding-top: 10px;
}

div.topcenter {
    position: fixed;
    top: 5px;
    left: 0;
    right: 0;
    z-index: 2000;
}

div.col-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

select.playground-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    max-width: 9em;
    border-radius: 5px;
    background: url(option-vertical.svg) no-repeat right #aad7ee;
    background-size: 1em 1em;
    padding-right: 20px;
    outline: 0;
}

a.darunbutton {
    color: white;
    display: inline-block;
    line-height: normal;
    vertical-align: text-bottom;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

.min-width {
    overflow-x: auto;
}

.min-width > ul.nav {
    display: inline-flex;
}

.min-width > ul.nav > li {
    flex-shrink: 0;
}

.observer-container {
    height: 324px;
    overflow: hidden;
}

iframe.observer {
    width: 768px;
    height: 432px;
    overflow: auto;
    -moz-transform: scale(0.75, 0.75); 
    -webkit-transform: scale(0.75, 0.75); 
    -o-transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.75); 
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    border: solid #ccc 3px;
    margin: 0;
    padding: 0;
}

/* .peer-message > .badge { */
/*     float: right; */
/* } */

.topspace {
    margin-top: 10px;
}