html {
  position: relative;
  min-height: 100%;
}

body.dabody {
    border: 0px;
    margin: 0px;
    padding-bottom: 40px;
}

.daconfigform .CodeMirror {
    height: 75vh;
}

.pgmain {
    height: 75vh;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.pgright {
    height: 75vh;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.pgmain .pgform {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    overflow: hidden;
}

.pgmain .pgform .CodeMirror {
    flex: 1;
    overflow: hidden;
}

.pgright .playgroundbox {
    flex: 1;
    overflow: hidden;
}

body.dasignature {
    border: 0px;
    margin: 0px;
    /* font-size: 16px; */
}

/* .form-control { */
/*     font-size: 16px; */
/*     padding: 2px 12px; */
/* } */

/* textarea.form-control { */
/*     padding: 6px 12px; */
/* } */

body.dainactive {
    background-color: #f2dede;
}

body.dainactive .form-control{
    background-color: #f2dede;
}

body.dainactive > div > .navbar-dark {
    background-image: linear-gradient(to bottom,#883c3c 0,#522 100%);
}

body.dacontrolled > div > .navbar-dark {
    background-image: linear-gradient(to bottom,#883c3c 0,#522 100%);
}

.slider-horizontal {
    width: 100% !important;
    margin-top: 15px;
}

.slider .tooltip-inner {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .1rem .4rem;
}

.alert {
    max-height: 150px;
    overflow-y: auto;
}

.alert a {
    cursor: pointer;
}

.daiconbox {
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    font-weight:700;
    border-style:solid;
    border-width:1px;
    color: #262626;
    border-color: rgba(0, 0, 0, 0.17);
    border-radius: 2px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
    margin-top: 5px;
    padding: 0;
}

.daiconbox > a:focus,
.daiconbox > a:hover {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.danomargin {
    margin: 0;
}

.daiconbox td img {
    margin: 2px 0px 2px 0px;
}

a.danohover {
    display: block;
}

a.danohover:hover {
    text-decoration: none !important;
}

/* @media (min-width: 992px) and (max-width: 1199px) { */
    /* div.danavcontainer { */
    /* 	padding-right: 2%; */
    /* 	padding-left: 2%; */
    /* } */
/* } */

/* @media (min-width: 1200px) and (max-width: 1399px) { */
    /* div.danavcontainer { */
    /* 	padding-right: 5%; */
    /* 	padding-left: 5%; */
    /* } */
/* } */

/* @media (min-width: 1400px) { */
    /* div.danavcontainer { */
    /* 	padding-right: 15%; */
    /* 	padding-left: 15%; */
    /* } */
/* } */

.btn-darevisit {
    margin-bottom: 5px;
}

.btn-da {
    margin-bottom: 5px;
    white-space: normal;
}

.btn-da-custom {
    width: 8em;
    height: 8em;
    text-align: center;
    vertical-align: middle;
}

.btn-da-custom svg {
    width: 4em !important;
    height: 4em !important;
    text-align: center;
    vertical-align: middle;
}

.btn-da-custom span:first-of-type::after {
    content: "";
    display: block;
}

.btn-da-custom:focus {
    outline: 1px dotted !important;
}

.dainvisible {
    display: none !important;
}

.da-chat-session {
    overflow: hidden;
}

i.da-chat-active {
    color: #45bf41;
}

i.da-chat-active:hover {
    color: #55cf51;
}

i.da-chat-inactive {
    color: #4f4f4f;
}

i.da-chat-inactive:hover {
    color: #5f5f5f;
}

/* a.sourceactive { */
/*     background-color: #080808; */
/*     background-image: linear-gradient(to bottom, #080808 0px, #0F0F0F 100%); */
/* } */

.form-group.darequired .dawidecol:before {
    position: absolute;
    content: '*';
    color: red;
    top: 0rem;
    left: 0.2rem;
}

.form-group.darequired .danolabel:before {
    position: absolute;
    content: '*';
    color: red;
    top: 0rem;
    left: 0.2rem;
}

.form-group.darequired .da-top-label:after {
    content: '*';
    color: red;
    margin-left: 0.2em;
}

.form-group.darequired .da-form-label:after {
    position: absolute;
    content: '*';
    color: red;
}

@media (max-width: 767px) {
    .form-group.darequired .da-form-label:after {
	bottom: 0.7rem;
    }
}
@media (min-width: 768px) {
    .form-group.darequired .da-form-label:after {
	top: 5px;
	right: 5px;
    }
}

.form-group.darequired.greyedout .da-form-label:after {
    display: none;
}
.form-group.dagreyedout .da-form-label {
    color: #999999;
}
.daselect {
    margin-top: 7px;
}

.dagoogleMap {
    width: 100%;
}

.daterm {
    cursor: pointer;
    color: #408E30
}

.daterm:hover {
    cursor: pointer;
    color: #408E30;
    text-decoration: none;
}

.daiconfloat {
    image-orientation: from-image;
    float: right;
}

.daicon {
    image-orientation: from-image;
}

.daclear {
    clear: both;
}

.daactive {
    background-color: yellow;
}

.dabackicon {
    background: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    margin-left: -5px;
}

a.dabackbuttoncolor:hover,
a.dabackbuttoncolor:focus {
    text-decoration: none;
}

.dabackbuttoncolor {
    -webkit-appearance: none;
}

/* .dabackbuttoncolor { */
/*     color: #539ac7; */
/* } */

/* .dabackbuttoncolor:hover, */
/* .dabackbuttoncolor:focus { */
/*     color: #539ac7; */
/*     text-decoration: none; */
/* } */

@media (max-width: 767px) {
    .datext-right {
	min-height: 1.5rem;
    }
    .file-input-ajax-new .file-preview {
	display: none;
    }
}

#daform input[type="text"],
#daform input[type="email"],
#daform input[type="date"] {
	height: 2.375rem;
}

@media (min-width: 768px) {
    .datext-right {
	text-align: right !important;
    }
}

/* @include media-breakpoint-up(md) { */
/* @media (max-width: 768px) { */
/*     .dabackicon { */
/* 	margin-left: -10px; */
/*     } */
/* } */

.daback {
    margin-left: 0.1em;
}

/* .dabackicon:hover { */
/*     color: #73bae7 */
/* } */

/* .dabackiconpressed { */
/*     color: #fff; */
/* } */

/* .dalarge { */
/*     font-size: 1.2em; */
/*     vertical-align: -0.1em; */
/* } */

/* .dalargefix { */
/*     vertical-align: 0.1em; */
/* } */

.datab {
    display: inline-block;
    width: 4em;
}

table.datable {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.daborder {
    border-style: solid;
    border-width: 1px;
}

.daflushleft {
    text-align: left;
}

.daflushright {
    text-align: right;
}

.dabold {
    font-weight: bold;
}

.dacenter {
    text-align: center;
}

.dawrappre {
    white-space: pre-wrap;
    max-height: 400px;
    overflow: auto;
}

.davspace {
    margin-top: 10px;
}
/*.navbar-brand:focus {
    outline: none;
}*/
/* .mynavbar-text { */
/*   float: right; */
/*   outline: none; */
/* } */
/* .mynavbar-text:hover, */
/* .mynavbar-text:focus { */
/*   text-decoration: none; */
/*   background-color: transparent; */
/*   outline: none; */
/* } */

.damynavbar-right {
    float: right;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    /* margin-right: -15px; */
}
/* .damynavbar-right ~ .damynavbar-right { */
/*     margin-right: 0; */
/* } */

/* @include media-breakpoint-down(md) { */
/* /\* @media (max-width: 767px) { *\/ */
/*     .tabbuttons > li > a { */
/* 	padding: 10px 5px 9px 5px; */
/*     } */
/* } */

/* .navbar-icon { */
/*     font-size: 18px; */
/* } */

/* .mynavbar-icon { */
/*     float: right; */
/* } */

/* .mynavbar-icon:hover, */
/* .mynavbar-icon:focus { */
/*     text-decoration: none; */
/*     color: #fff; */
/*     background-color: transparent; */
/*     outline: none; */
/* } */

.damynavbar-right .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

span.daactivetext {
    color: yellow;
}

span.daactivetext:hover {
    color: #ffff99;
}

div.playgroundbox div.card-body {
    height: 30em;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    padding-right: 0px;
}

div.playgroundbox table td {
    padding-bottom: 5px;
    /* font-size: 16px; */
}

div.playgroundbox table td.playground-warning-box {
    padding-right: 15px;
    font-size: 14px;
    padding-bottom: 0px;
}

#daform pre,
.daadminbody pre {
    margin: 0;
    padding: 9.5px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* div.dahighlight { */
/*     margin: 0 0 5px 0; */
/* } */

img.da-example-screenshot {
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 4px;
    padding-bottom: 20px;
    max-width: 100%;
}

.da-example-link {
    cursor: pointer;
}

.da-example-heading {
    cursor: pointer;
    font-weight: bold;
}

.da-example-list {
    outline: none;
    flex-wrap: nowrap;
}

div > ul.da-example-list {
    max-height: 35em;
    overflow-y: auto;
    position: relative;
}

ul.da-example-list ul {
    margin-left: 20px;
}

ul.da-example-list > li > a{
    outline: none;
    padding: 2px 15px;
}

ul.da-example-list > li {
    margin-top: 0px;
}

.da-example-hidden {
    display: none;
}

div.da-example-source-col {
    min-height: 600px;
}

div.da-example-source-col div.highlight {
    max-height: none;
}

a.da-example-copy {
    font-size: 14px;
    float: right;
}

a.da-example-documentation {
    font-size: 14px;
    float: right;
}

a.dacorner-remove {
    float: right;
    cursor: pointer;
    color: #666666;
    font-size: 20px;
}

a.dacorner-remove:hover {
    color: #000000;
}

table.daplaygroundtable {
    table-layout:fixed;
    width: 100%;
}

/* table.daplaygroundtable tbody { */
/*     max-width: 100%; */
/* } */

/* table.daplaygroundtable tr { */
/*     max-width: 100%; */
/* } */

table.daplaygroundtable td {
    /* vertical-align: middle; */
    /*max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
    line-height: 20px;
}

/* .databbuttons { */
/*     display: inline-block; */
/* } */

/* .databbuttons > li { */
/*     float: left; */
/* } */

table.daplaygroundtable td table {
    margin-top: 5px;
    table-layout:fixed;
    width: 100%;
}

table.daplaygroundtable td table td {
    padding-left: 10px;
}

.da-example-hider {
    float: right;
    cursor: pointer;
}

#da-example-source-before {
    margin-top: 5px;
}

#da-example-source-after {
    margin-top: 5px;
}

#da-example-source-before pre {
    background-color: #e7e7e7;
}

#da-example-source-after pre {
    background-color: #e7e7e7;
}

a.da-review-action {
    cursor: pointer;
}

a.da-review-action-button {
    font-size: 14px;
    float: right;
}

a.da-example-share {
    font-size: 14px;
    float: right;
}

.dachatbox {
    max-height: 20em;
    overflow-y: auto;
    margin-bottom: 5px;
}

/* .dachatbutton { */
/*     overflow: hidden; */
/* } */

.dachatbutton a {
    font-size: 14px;
    margin-bottom: 0.75em;
    float: right;
}

a.da-example-share:focus {
    outline: none;
}

a.dashowmethods:focus {
    outline: none;
}

img.daimageicon {
    height: 14px;
    display: inline-block;
    line-height: normal;
}

.playground-variable {
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    padding-left: 7.2px;
    padding-right: 7.2px;
    padding-bottom: 3.6px;
    padding-top: 3.6px;
    line-height: normal;
    max-width: 90%;
    white-space: nowrap;
}

span.daparenthetical {
    color: #777777;
    font-size: 14px;
    cursor: pointer;
    /* vertical-align: middle; */
    display: inline-block;
    line-height: normal;
}

.daquestionsign {
    color: #5cb85c;
    vertical-align: middle;
    /* vertical-align: -2px; */
    cursor: pointer;
    text-decoration: none !important;
    line-height: normal;
    float: right;
    margin-right: 3px;
    font-size: 16px;
}

.dashowattributes {
    color: rgb(160, 160, 160);
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none !important;
    line-height: normal;
    float: right;
    margin-right: 3px;
}

.dainfosign {
    color: rgb(49, 112, 143);
    vertical-align: middle;
    /* vertical-align: -2px; */
    cursor: pointer;
    text-decoration: none !important;
    line-height: normal;
    float: right;
    margin-right: 3px;
}

.datrain {
    color: rgb(217, 7, 53);
    vertical-align: middle;
    /* vertical-align: -2px; */
    cursor: pointer;
    text-decoration: none !important;
    line-height: normal;
    float: right;
    margin-right: 3px;
    outline: 0;
}

.datrain:link,
.datrain:visited,
.datrain:active {
    color: rgb(217, 7, 53);
}

.datrain:hover {
    color: rgb(247, 37, 83);
}

.dashowmethods {
    color: rgb(49, 112, 143);
    vertical-align: middle;
    /* vertical-align: -2px; */
    cursor: pointer;
    text-decoration: none !important;
    line-height: normal;
    float: right;
    margin-right: 3px;
}

.daobservebutton {
    font-size: 14px;
    float: right;
    margin-bottom: 4px;
    margin-left: 4px;
}

.da-chat-status-label {
    width: 6em;
    font-size: 14px;
    float: left;
    margin-bottom: 4px;
    margin-right: 8px;
}

.dachatcontrol {
    height: 24px
}

/* div.striping:nth-child(even) { */
/*     background-color: #e7e7e7; */
/* } */

/* div.dafieldpart { */
/*     padding-top: 8px; */
/* } */

div.dafieldpart > label:first-of-type {
    margin-top: 0px;
}

div.datopcenter {
    position: fixed;
    top: 5px;
    left: 0;
    right: 0;
    z-index: 2000;
}

div.dacol-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

select.playground-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    max-width: 8em;
    border-radius: 5px;
    background: url(option-vertical.svg) no-repeat right #aad7ee;
    background-size: 1em 1em;
    padding: 2px 20px 2px 2px;
    outline: 0;
}

a.dauploadbutton {
    padding-top: 1px;
    padding-bottom: 1px;
}

/* a.dauploadbutton { */
/*     display: inline-block; */
/*     background: url(upload.svg) no-repeat right; */
/*     background-size: 1em 1em; */
/*     padding: 2px 2px 2px 2px; */
/*     width: 1.2em; */
/*     height: 1.2em; */
/*     cursor: pointer; */
/* } */

/* a.darunbutton { */
/*     color: white; */
/*     font-size: 14px; */
/*     display: inline-block; */
/*     line-height: inherit; */
/*     vertical-align: text-top; */
/*     text-shadow: 0 -1px 0 rgba(0,0,0,.2); */
/* } */

/* .min-width { */
/*     overflow-x: auto; */
/* } */

/* .min-width > ul.nav { */
/*     display: inline-flex; */
/* } */

/* .min-width > ul.nav > li { */
/*     flex-shrink: 0; */
/* } */

.daobserver-container {
    height: 324px;
    overflow: hidden;
    margin: 0rem 0rem 0.75rem 0rem;
}

iframe.daobserver {
    width: 600px;
    height: 432px;
    overflow: auto;
    -moz-transform: scale(0.75, 0.75);
    -webkit-transform: scale(0.75, 0.75);
    -o-transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.75);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    border: solid #ccc 3px;
    margin: 0;
    padding: 0;
}

/* .peer-message > .badge { */
/*     float: right; */
/* } */

.dadelete-observation {
    float: right;
    margin: 0;
}

.datopspace {
    margin-top: 10px;
}

/* .monitor-note { */
/*     font-size: 12px; */
/* } */

/* .phone-error { */
/*     background-color: #f2dede; */
/* } */

/* .phone-warning { */
/*     color: orangered !important; */
/*     cursor: default; */
/* } */

/* .phone-off { */
/*     color: #4f4f4f; */
/* } */

/* .phone-off:hover { */
/*     color: #5f5f5f; */
/* } */

/* .phone-message { */
/* } */

/* .phone-code { */
/* } */

/* .phone-number { */
/* } */

.da-no-outline:focus {
    /*outline: none;*/
    text-decoration: none;
}

/* .mynavbar-toggle { */
/*     margin-left: 12px; */
/* } */

.da-new-message {
    background-color: #ffff99;
}

.da-chat-notifier {
    position: fixed;
    right: 10px;
    background-color: #ffff99;
    color: #444444;
    padding: 10px;
    border-color: #f0cc77;
    border-style: solid;
}

.da-chat-notifier-below {
    bottom: 0px;
    border-radius: 15px 15px 0 0;
    border-width: 3px 3px 0px 3px;
}

.da-chat-notifier-above {
    top: 51px;
    border-radius: 0 0 15px 15px;
    border-width: 0px 3px 3px 3px;
}

/* .phone-saved { */
/*   border-color: #3c763d; */
/*   outline: 0; */
/*   color: #3c763d; */
/*   background-color: #dff0d8; */
/*   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(60,118,61,.6); */
/*           box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(60,118,61,.6); */
/* } */

.da-chat-title-label {
  float: left;
}

div.datop-alert {
    /* position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10000;
    */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    color: #444444;
    font-size: 14px;
    border-radius: 0 0 15px 15px;
    background-color: #ffff99;
    padding: 5px;
    text-align: center;
    border-color: #f0cc77;
    border-style: solid;
    border-width: 0px 3px 3px 3px;
}

.da-click-selected {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 16px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 16px rgba(102, 175, 233, .6);
}

.danobold {
    font-weight: normal;
}

@media (max-width: 767px) {
    .navbar-nav li .dropdown-menu {
        display: block;
    }
    .navbar-nav li .dropdown-toggle {
	display: none;
    }
}

/* @include media-breakpoint-down(md) { */
/* /\* @media (max-width: 767px) { *\/ */
/*     .navbar-nav li .dropdown-menu { */
/*         display: block; */
/* 	position: static; */
/* 	width: 100%; */
/* 	margin-top: 0; */
/* 	background-color: transparent; */
/* 	border: 0 none; */
/* 	-webkit-box-shadow: none; */
/*                 box-shadow: none; */
/*     } */
/*     .navbar-nav .dropdown-menu > li > a, */
/*     .navbar-nav .dropdown-menu .dropdown-header { */
/*         padding: 5px 15px 5px 25px; */
/*     } */
/*     .navbar-nav .dropdown-menu > li > a { */
/*         line-height: 20px; */
/*     } */
/*     .navbar-nav .dropdown-menu > li > a:hover, */
/*     .navbar-nav .dropdown-menu > li > a:focus { */
/*         background-image: none; */
/*     } */
/*     .navbar-nav li { */
/* 	text-align: right; */
/*     } */
/*     .navbar-inverse .navbar-nav .dropdown-menu > .dropdown-header { */
/* 	border-color: #080808; */
/*     } */
/*     .navbar-inverse .navbar-nav .dropdown-menu .divider { */
/* 	background-color: #080808; */
/*     } */
/*     .navbar-inverse .navbar-nav .dropdown-menu > li > a { */
/* 	color: #9d9d9d; */
/*     } */
/*     .navbar-inverse .navbar-nav .dropdown-menu > li > a:hover, */
/*     .navbar-inverse .navbar-nav .dropdown-menu > li > a:focus { */
/* 	color: #fff; */
/* 	background-color: transparent; */
/*     } */
/*     .navbar-inverse .navbar-nav .dropdown-menu > .active > a, */
/*     .navbar-inverse .navbar-nav .dropdown-menu > .active > a:hover, */
/*     .navbar-inverse .navbar-nav .dropdown-menu > .active > a:focus { */
/* 	color: #fff; */
/* 	background-color: #080808; */
/*     } */
/*     .navbar-inverse .navbar-nav .dropdown-menu > .disabled > a, */
/*     .navbar-inverse .navbar-nav .dropdown-menu > .disabled > a:hover, */
/*     .navbar-inverse .navbar-nav .dropdown-menu > .disabled > a:focus { */
/* 	color: #444; */
/* 	background-color: transparent; */
/*     } */
/* } */

div.da-spinner-container {
    position: fixed;
    left: 0px;
    width: 100%;
    margin-top: -10px;
}

.da-top-for-navbar {
    top: 66px;
}

span.da-spinner {
    z-index: 2000;
    font-size: 40px;
}

img.da-sig-spinner {
    z-index: 2000;
    font-size: 40px;
}

/* @media (min-width: 850px) { */
/*     img.da-sig-spinner { */
/* 	left: 409px; */
/* 	margin-left: 0px; */
/*     } */
/* } */

.dafullwidth + label {
    width: 100%;
}

.dafullheight {
    max-height: none !important;
}

.CodeMirror {
    border-width: 1px;
    border-color: #dddddd;
    border-style: solid;
    font-size: 14px;
}

.da-search-error {
  background-color: #f2dede;
}

.dasearchicon {
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none !important;
    line-height: normal;
    font-size: 16px;
    margin-right: 4px;
}

.dasearchthis {
    color: #999999;
}

.dasearchthis:hover {
    color: #333333;
}

.dasearchother {
    color: #cccccc;
}

.dasearchother:hover {
    color: #666666;
}

.dapointer {
    cursor: pointer;
}

div.daundertext {
    margin-top: 10px;
}

input.dainput-embedded {
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline;
    padding: 0px 8px;
    border-style: solid;
    line-height: inherit;
    border-color: #888888;
    min-width: 8em;
    max-width: 100%;
    border-radius: 2px;
    width: auto;
    background-color: #f0f0ff;
    border-width: 0px 0px 1px 0px;
    margin: 4px 0px 3px 0px;
    height: 31px;
}

input.dainput-embedded:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0px 0px 0px 0px;
    background-color: #e0e0ff;
    height: 30px;
    color: #222222;
    margin: 4px 0px 4px 0px;
}

input.dadate-embedded {
    min-width: 10em;
}

textarea.dainput-embedded {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0px 8px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    background-color: #f0f0ff;
    line-height: inherit;
    border-radius: 2px;
    margin: 10px 0px 0px 0px;
}

textarea.dainput-embedded:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #e0e0ff;
    color: #222222;
}

textarea.dainput-embedded:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #888888;
}

span.dainput-embedded {
    display: inline-block;
    padding: 0px 8px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 0;
    line-height: inherit;
    height: 30px;
    margin: 4px 0px 4px 0px;
}

select.dainput-embedded {
    display: inline;
    padding: 0px 4px;
    line-height: inherit;
    border-style: solid;
    min-width: 8em;
    background-color: #f0f0ff;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*outline: 0;*/
    border-color: #888888;
    border-radius: 2px;
    border-width: 0px 0px 1px 0px;
    margin: 4px 0px 3px 0px;
    height: 31px;
}

select.dainput-embedded:focus {
    color: #222222;
    background-color: #e0e0ff;
    border-width: 0px 0px 0px 0px;
    height: 30px;
    margin: 4px 0px 4px 0px;
}

select.dainput-embedded option {
    /*outline: 0;*/
    border-style: none;
    margin: 0px;
}

input.dacheckbox-embedded{

}

input.daradio-embedded {

}

input.dafile-embedded {
    display: inline;
    padding: 0px 4px 0px 0px;
    line-height: inherit;
    min-width: 8em;
    background-color: #f0f0ff;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*outline: 0;*/
    border-style: none;
    border-radius: 2px;
    border-width: 0px;
    margin: 4px 0px 3px 0px;
    height: 31px;
}

div.daslider-embedded {

}

textarea.translation-box {
    height: 20em;
    font-family: monospace;
}

/* .da-nav-but { */
/*     float: left; */
/*     margin-right: 10px; */
/*     color: #bbb; */
/*     background-color: #333; */
/*     border-color: #111; */
/*     background-image: -webkit-linear-gradient(top, #444 0%, #555 100%); */
/*     background-image:      -o-linear-gradient(top, #444 0%, #555 100%); */
/*     background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#555)); */
/*     background-image:         linear-gradient(to bottom, #444 0%, #555 100%); */
/*     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44444444', endColorstr='#55555555', GradientType=0); */
/*     filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); */
/*     background-repeat: repeat-x; */
/*     text-shadow: none; */
/* } */

/* .da-nav-but:hover, */
/* .da-nav-but.focus { */
/*     color: #ccc; */
/*     background-color: #444; */
/*     border-color: #222; */
/*     background-image: -webkit-linear-gradient(top, #555 0%, #666 100%); */
/*     background-image:      -o-linear-gradient(top, #555 0%, #666 100%); */
/*     background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#666)); */
/*     background-image:         linear-gradient(to bottom, #555 0%, #666 100%); */
/*     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55555555', endColorstr='#66666666', GradientType=0); */
/*     filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); */
/*     background-repeat: repeat-x; */
/*     text-shadow: none; */
/*     background-position: none; */
/* } */

.daheightlim {
    max-height: 30em;
    overflow-y: auto;
}

.danavpillssmaller > li > a {
    padding: 10px 12px;
}

/* .btn-lg { */
/*     margin-bottom: 5px; */
/* } */

.navbar {
    font-size: 14px;
}

body.daadminbody {
    border: 0px;
    margin: 0px;
    padding-bottom: 40px;
    font-size: 14px;
}

.da-pad-for-navbar {
    padding-top: 66px;
}

/* .daadminbody .form-control { */
/*     font-size: 14px; */
/* } */

svg.damfasvg {
    width: 300px;
}

blockquote.dalimheight {
    max-height: 6em;
    overflow-y: auto;
}

.damldownload {
    float: right;
    font-size: 13px;
}

.daimagepreview {
    max-height: 12em;
    overflow-y: auto;
}

.daimagepreview img {
    max-width: 100%;
}

.daonright {
    float: right;
    color: black;
}

.dadecoration {
    float: right;
}

div.danavnested {
    padding-left: 20px;
}

div.danav-horiz a.danavlink {
    align-self: flex-end !important;
    text-align: center;
}

div.danavnested-horiz {
    font-size: 80%;
}

@media (max-width: 767px) {
    div.danav-horiz > .danavlink {
	border-width: 0 0 0.1rem 0;
	margin: 0px 3px 0px 0px;
	padding: 0.5rem 0.25rem 0.4rem 0.25rem;
    }

    div.danav-horiz > a.danotavailableyet {
	border-width: 0;
    }

    div.danav-horiz > a.inactive {
	border-width: 0;
    }
}

@media (max-width: 575px) {
    div.danav-horiz > .danavlink {
	font-size: 11px;
    }
}

/* .danav > a.inactive:hover, */
/* .danav > a.inactive:focus { */
/*     color: #337ab7; */
/*     text-decoration: inherit; */
/*     background-color: inherit; */
/*     outline-offset: inherit; */
/* } */

.danav > a.danotavailableyet {
    color: #aaa;
    text-decoration: inherit;
    background-color: inherit;
    outline-offset: inherit;
}

.danav > a.danotavailableyet:hover,
.danav > a.danotavailableyet:focus {
    color: #aaa;
    text-decoration: inherit;
    background-color: inherit;
    outline-offset: inherit;
}

/* .danav > li.active > a.inactive:hover, */
/* .danav > li.active > a.inactive:focus { */
/*     color: #fff; */
/*     background-color: #337ab7; */
/* } */

div.danav {
    flex-wrap: nowrap;
}

div.dasections {
    line-height: 45px;
}

/* div.dainline { */
/*     list-style: none; */
/*     padding: 0; */
/*     margin: 0; */
/*     display: block; */
/* } */

div.dainline a  {
    /* padding: 0; */
    /* margin: 0; */
    /* display: inline; */
    position: relative;
    font-weight: bold;
}

/* div.dainline li a { */
/*     display: inline-block; */
/* } */

span.dainlinearrow {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}

div.dainline a {
    /* margin-right: 25px; */
    vertical-align: middle;
}

/* div.dainline a:not(.thelast)::after { */
/*     content: ">"; */
/*     position: absolute; */
/*     line-height: 1; */
/*     background-color: transparent; */
/*     color: #aaa; */
/*     right: -20px; */
/*     top: 0px; */
/*     padding: 5px 5px 5px 7px; */
/*     margin: 0; */
/* } */

/* div.dainline div { */
/*     display: inline; */
/*     padding: 0; */
/*     margin: 0; */
/* } */

div.dainline > div {
    font-weight: normal;
}

div.dasections a.btn {
    font-size: 18px;
    cursor: text !important;
    padding: 5px 5px 5px 5px;
}

div.dasections a.btn.daclickable {
    cursor: pointer !important;
}

.daclickable {
    cursor: pointer !important;
}

div.dainlineinside {
    display: inline;
}

div.dasections div.dainlineinside a.btn {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
}

div.danavdiv {
    margin-top: 30px;
}

/* body.dasignature div.danavdiv { */
/*     margin-top: 90px; */
/* } */

/* body.dasignature > div.container { */
/*     width: 100%; */
/* } */

a.danavlink {
    cursor: text;
    position: relative;
}

a.danavlink .toggler {
    position: absolute;
    left: 0;
    cursor: pointer;
}

a.danavlink .toggler:hover {
    text-decoration: none;
}

/* .ul-toggle { */
/*     float: left; */
/*     position: absolute; */
/*     left: -20px; */
/*     top: 11px; */
/*     color: #777; */
/*     cursor: pointer; */
/* } */

/* div.notavailable > i { */
/*     color: #aaa; */
/* } */

/* div.available > i { */
/*     color: #337ab7; */
/* } */

div.dachoicewithhelp {
    display: table;
    width: 100%;
}

div.dachoicewithhelp > div {
    display: table-row;
}

div.dachoicewithhelp > div > div {
    display: table-cell;
}

div.dachoicehelp {
    text-align: right;
    width: 32px;
    vertical-align: top;
}

div.dachoicehelp a {
    text-decoration: none;
    /* color: #3498db; */
    cursor: pointer;
    font-size: 25px;
    outline: none;
    padding-bottom: 0.5rem;
}

/* div.dachoicehelp a:hover { */
/*     color: #72c5fd; */
/* } */

div.danavbar {
    max-height: 51px;
    overflow: hidden;
}

/* @media (min-width: 768px) and (max-width: 991px) { */
/*     div.danavbar { */
/* 	padding-left: 15px; */
/*     } */
/* } */

/* @media (min-width: 768px) { */
/*     div.danavbar { */
/* 	margin-left: -15px !important; */
/* 	padding-left: 15px; */
/*     } */
/* } */

.dabrand:focus,
.dabrand:hover {
    color: #9d9d9d !important;
}

.dayesnospacing + .dayesnospacing {
    margin-top: -1.0rem;
}

.dainterviewhaserror {
    color: #a94442;
}

.dainterviewhaserror:hover,
.dainterviewhaserror:focus {
    color: #843534;
}

.daimageref + .daimageref {
    margin-left: 5px;
}

.davideo43 {
	padding-bottom: 75%;
}

.davideo169 {
	padding-bottom: 56.25%;
}

.davideo {
	position: relative;
	height: 0;
	margin-bottom: 10px;
}

.davideo iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.dawidevideo {
    width: 100% !important;
    height: auto !important;
}

.daspaceafter {
    margin-bottom: 10px;
}

.dapdfscreen {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 16px rgba(77, 77, 77, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 16px rgba(77, 77, 77, .6);
}

.da-inline-error-wrapper {
    position: relative;
}

.da-embed-area-wrapper > .da-has-error {
    display: block;
    color: black;
    padding: 2px;
    z-index: 1020;
    background-color: #ffdddd;
    -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,.075), -3px 2px 4px rgba(0,0,0,.075), 3px 2px 4px rgba(0,0,0,.075);
    box-shadow: 0px 2px 3px rgba(0,0,0,.075), -3px 2px 4px rgba(0,0,0,.075), 3px 2px 4px rgba(0,0,0,.075);
}

.da-inline-error-wrapper > .da-has-error {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 27px;
    color: black;
    padding: 2px;
    z-index: 1020;
    background-color: #ffdddd;
    -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,.075), -3px 2px 4px rgba(0,0,0,.075), 3px 2px 4px rgba(0,0,0,.075);
    box-shadow: 0px 2px 3px rgba(0,0,0,.075), -3px 2px 4px rgba(0,0,0,.075), 3px 2px 4px rgba(0,0,0,.075);
}

.da-embed-currency-symbol {
}

.da-embed-currency-wrapper {
    display: inline-block;
}

.da-embed-radio-wrapper > label {
    font-weight: normal;
}

.da-embed-yesno-wrapper > label {
    font-weight: normal;
}

.da-embed-area-wrapper {
    position: relative;
}

.da-embed-threestate-wrapper > label {
    font-weight: normal;
}

.da-embed-checkbox-wrapper > label {
    font-weight: normal;
}

.da-embed-radio-wrapper > span.da-has-error::before {
    content: " ";
}

.da-embed-yesno-wrapper > span.da-has-error::before {
    content: " ";
}

.da-embed-threestate-wrapper > span.da-has-error::before {
    content: " ";
}

.da-embed-checkbox-wrapper > span.da-has-error::before {
    content: " ";
}

span.damldatakey {
    font-weight: bold;
}

span.damldatavalue {
}

div.damldatacontainer {
    padding-left: 20px;
}

span.dasubtitle {
}

span.dainterviewsubtitle {
}

/* iframe.jsonvars { */
/*     width: 100%; */
/*     height: 80vh; */
/* } */

/* .da-label { */
/*     line-height: 2.1; */
/* } */

.playground-back {
    margin: 0;
    padding: 0;
    margin-left: -5px;
}

/* .halfgrey { */
/*     opacity: 0.5; */
/* } */

/* .nonclick { */
/*     cursor: default; */
/* } */

div.daconstraintlist a {
    text-decoration: none;
}

div.daconstraintlist div + div {
    margin-top: 2px;
}

.da-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /* font-size: 24px; */
  display: inline-block;
  /* line-height: 1; */
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(MaterialIcons-Regular.woff2) format('woff2'),
    url(MaterialIcons-Regular.woff) format('woff'),
    url(MaterialIcons-Regular.ttf) format('truetype');
}

.da-page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.da-larger-badge {
    font-size: 1.0rem;
}

.dasigbuttons {
    margin-top: 4px;
}

.dasigbottompart {
    text-align: center;
}

@media (max-width: 575px) {
    body.dasignature {
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	width: 100%;
	overflow: hidden;
	font-size: small;
	background-color: #fff;
	user-select: none;
	padding-top: 40px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-ms-touch-action: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    body.dasignature > div > div.container > div.row > div.col {
	padding: 0;
    }
    /* .dasignature section { */
    /*     padding: 36px 0px 0px 0px; */
    /* } */
    #dasigcontent{
	/* padding-left: 12px; */
	/* padding-right: 12px; */
	padding: 0;
    }
    .dasigmidpart p {
	margin: 0;
	font-size: 14px;
	line-height: 1.42857143;
    }
    .dasigheader {
	top: 0px;
	left: 0px;
	right: 0px;
	height: 42px;
	padding: 6px;
    }
    .dasigfooter {
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 42px;
	padding: 2px;
    }
    .dasigtitle {
	line-height: 26px;
	font-size: 18px;
	color: #9d9d9d;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    }
    .dasigtoppart {
	text-align: center;
	padding: 0px;
    }
    .dasigmidpart {
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
    }
    .dasigbottompart {
	padding-top: 6px;
    }
    .dasigpost {
	display: none;
    }
}

.dasigheader, .dasigfooter{
    position: fixed;
    background-color: #222;
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    background-repeat: repeat-x;
}

.dasignav-left {
    float:left;
    margin-right: 10px;
}

.dasignav-right {
    float:right
}

.dasignavbutton {
    max-height: 30px;
}

#dasigcanvas{
    cursor: crosshair;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
/* .sigpalette-case { */
/*     width: 260px; */
/*     margin: auto; */
/*     text-align: center; */
/* } */
.dasigpage {
    /* width: 100%; */
    /* max-width: 540px; */
}
.dasignature > div > .navbar {
    display: none;
}
.dasignature > div > .daright {
    display: none;
}
.dasignature > div > .daattributions {
    display: none;
}
.dasighidesmall {
    display: none;
}
.dasigshowsmallblock {
    display: block;
}

@media (min-width: 576px) {
    /* .dasignature section { */
    /* 	padding: 70px 0px 0px 0px; */
    /* } */
    body.dasignature {
	padding-top: 60px;
    }
    body.dasignature.navbarhidden {
	padding-top: 0px;
    }
    .dasignature > div > .navbar {
        display: block;
    }
    .dasignature > div > > .daright {
        display: block;
    }
    .dasignature > div > .daattributions {
        display: block;
    }
    /* .sighidesmall { */
    /* 	display: block; */
    /* } */
    /* .sigshowsmallblock { */
    /* 	display: none; */
    /* } */
    .dasigpage{
	/* width: 540px; */
    }
    .dasiginnerheader{
	/* width: 540px; */
    }
    /* .dasigtoppart { */
    /* 	text-align: left; */
    /* 	padding-top: 0px; */
    /* 	margin-bottom: 10px; */
    /* 	font-size: 24px; */
    /* 	font-weight: 500; */
    /* 	line-height: 1.1; */
    /* 	color: #333; */
    /* } */
    /* .dasigmidpart { */
    /* 	text-align: left; */
    /* 	padding-top: 6px; */
    /* 	padding-bottom: 14px; */
    /* 	font-size: 14px; */
    /* 	line-height: 1.42857143; */
    /* 	color: #333; */
    /* } */
    /* .sigbottompart { */
    /* 	padding-top: 6px; */
    /* 	font-size: 14px; */
    /* 	line-height: 1.42857143; */
    /* 	color: #333; */
    /* } */
}

/* @media (min-width: 1024px) { */
/*     .dasigtoppart { */
/* 	padding-top: 40px; */
/*     } */
/* } */

.dasigerrormessage {
    text-align: center;
    color: blue;
    padding-bottom: 10px;
}

.dasignotshowing {
    display: none;
}

/* .slider.slider-horizontal:hover .tooltip.tooltip-main.top .tooltip-arrow:after, */
/* .slider.slider-vertical:hover .tooltip.tooltip-main.top .tooltip-arrow:after { */
/*   content: ''; */
/*   width: 0; */
/*   height: 0; */
/*   position: absolute; */
/*   left: 40%; */
/*   bottom: -10px; */
/*   border: transparent 5px solid; */
/*   border-top: #000 5px solid; */
/* } */

.da-to-labelauty {
    display: none;
}

/* @media (max-width: 767px) { */
/*     a:active { */
/* 	text-decoration: underline; */
/*     } */
/* } */

.dawordplayground .dasearchicon {
    display: none;
}

@media (max-width: 991px) {
    .darlap-parent {
	margin-bottom: 0 !important;
    }
}

@media (min-width: 992px) {
    .darlap-parent {
	position: relative;
    }
    .darlap {
	position: absolute;
	margin-left: 100%;
	width: 50%;
    }
}

div.progress + div.daaudiovideo-control {
    margin-top: 0.5rem !important;
}

.daaudio-control {
    width: 100%;
}

.dajs-embedded {
    overflow: auto;
}

div.dahide-navbar .navbar {
    display: none;
}

tr:first-child .datableup, tr:last-child .databledown {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.datablehighlighted {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 16px rgba(102, 102, 102, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 16px rgba(102, 102, 102, .6);
}

.CodeMirror-fullscreen {
  margin-top: 55px;
}

@media (max-width: 767px) {
    .danavbar-title {
	max-width: 70%;
	overflow: hidden;
    }
}

.dalistright {
    border-top-left-radius: 1em !important;
    border-top-right-radius: 1em !important;
    border-bottom-right-radius: 0em !important;
    border-bottom-left-radius: 1em !important;
    margin-left: 25%;
    margin-bottom: 0.5em !important;
    border-width: 0px;
}


.dalistleft {
    border-top-left-radius: 1em !important;
    border-top-right-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
    border-bottom-left-radius: 0em !important;
    margin-right: 25%;
    margin-bottom: 0.5em !important;
    border-width: 0px;
}

.daChatMessage {
    border-top-left-radius: 1em !important;
    border-top-right-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
    border-bottom-left-radius: 1em !important;
    margin-left: 25%;
    margin-right: 0.5em;
}

@media (max-width: 575px) {
    .daChatMessage {
	margin-left: 0;
    }
}

.daChatMessage:disabled {
    cursor: not-allowed !important;
}

.daChatButton:disabled {
    cursor: not-allowed !important;
}

.dawide .col-xl-1,
.dawide .col-xl-2,
.dawide .col-xl-3,
.dawide .col-xl-4,
.dawide .col-xl-5,
.dawide .col-xl-6,
.dawide .col-xl-7,
.dawide .col-xl-8,
.dawide .col-xl-9,
.dawide .col-xl-10,
.dawide .col-xl-11,
.dawide .col-lg-1,
.dawide .col-lg-2,
.dawide .col-lg-3,
.dawide .col-lg-4,
.dawide .col-lg-5,
.dawide .col-lg-6,
.dawide .col-lg-7,
.dawide .col-lg-8,
.dawide .col-lg-9,
.dawide .col-lg-10,
.dawide .col-lg-11,
.dawide .col-md-1,
.dawide .col-md-2,
.dawide .col-md-3,
.dawide .col-md-4,
.dawide .col-md-5,
.dawide .col-md-6,
.dawide .col-md-7,
.dawide .col-md-8,
.dawide .col-md-9,
.dawide .col-md-10,
.dawide .col-md-11 {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

.dawide .offset-md-2,
.dawide .offset-md-3,
.dawide .offset-md-4,
.dawide .offset-xl-1,
.dawide .offset-xl-3,
.dawide .offset-lg-3 {
    margin-left: 0 !important;
}

.dawide .datext-right {
    text-align: left !important;
}

.dawide .form-group.darequired .da-form-label:after {
    bottom: 0.7rem !important;
    top: auto !important;
    right: auto !important;
}

.dawideimage {
    width: 100%;
}

.navbar .dropdown .dropdown-toggle {
    cursor: pointer;
}

.da-wrap-toggle {
    float: right;
}

.da-wrap-toggle svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.dafooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
}

body.da-pad-for-footer {
  margin-bottom: 60px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
