@media (max-width: 767px) {
    body.dasignature {
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	width: 100%;
	overflow: scroll;
	font-size: small;
	background-color: #fff;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-ms-touch-action: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    .dasignature section {
        padding: 36px 0px 0px 0px;
    }
    #sigcontent{
	padding-left: 12px;
	padding-right: 12px;
    }
    .sigmidpart p {
	margin: 0;
    }
}

.sigheader, .sigfooter{
    position: absolute;
    background-color: #222;
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    background-repeat: repeat-x;
}
.sigheader {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 42px;
    padding: 6px;
}
.sigfooter {
    bottom: 0px;
    left: 0px; 
    right: 0px;
    height: 42px;
    padding: 2px;    
}
.sigtitle {
    line-height: 26px;
    font-size: 18px;
    color: #9d9d9d;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.signav-left {
    float:left;
    margin-right: 10px;
}

.signav-right {
    float:right
}

.signavbutton {
    max-height: 30px;
}

#sigcanvas{
    cursor:crosshair;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.sigpalette-case {
    width: 260px;
    margin: auto;
    text-align: center;
}
.sigtoppart {
    text-align: center;
    padding-bottom: 6px;
}
.sigmidpart {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}
.sigbottompart {
    text-align: center;
    padding-top: 6px;
}
.sigpage {
    width: 100%;
    max-width: 550px;
}
.dasignature > .navbar {
    display: none;
}
.sighidesmall {
    display: none;
}
.sigshowsmallblock {
    display: block;
}

@media (min-width: 768px) {
    .dasignature section {
        padding: 70px 0px 0px 0px;
    }
    .dasignature > .navbar {
        display: block;
    }
    .sighidesmall {
	display: block;
    }
    .sigshowsmallblock {
	display: none;
    }
    .sigpage{
	width: 550px;
    }
    .siginnerheader{
	width: 550px;
    }
    .sigtoppart {
	text-align: left;
	padding-top: 0px;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.1;
	color: #333;
    }
    .sigmidpart {
	text-align: left;
	padding-top: 6px;
	padding-bottom: 14px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
    }
    .sigbottompart {
	padding-top: 6px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
    }
}

@media (min-width: 1024px) {
    .sigtoppart {
	padding-top: 40px;
    }
}

.sigerrormessage {
    text-align: center;
    color: blue;
    padding-bottom: 10px;
}

.signotshowing {
    display: none;
}
