{% extends "base_templates/page_base.html" %}

{% block main %}

{%- if special_error %}
{{ special_error|safe }}
{%- else %}
<h1>{{ word('Error') }}</h1>
{%- endif %}

{%- if verbose %}
{{ error|safe }}

{%- if historytext != 'None' %}

<h3>{{ word('History') }}</h3>

{{ historytext | safe }}

<p><a target="_blank" href="{{ url_for('get_variables') }}">{{ word('Show variables and values') }}</a></p>
{%- endif %}

{%- if logtext != 'None' %}

<h3>{{ word('Log') }}</h3>

<pre>{{ logtext }}</pre>

{%- endif %}
{%- endif %}

{% endblock %}
