{%- set page_title = get_part('error page title', word('Error')) %}
{%- set tab_title = get_part('error page tab title', word('Error')) %}
{%- set extra_css = get_part('error page extra css') %}
{%- set navigation_bar_html = get_part('error page navigation bar html') %}
{%- set footer_content = get_part('error page footer', get_part('global footer')) %}
{% extends "base_templates/base.html" %}

{% block main %}

{%- if special_error %}
{{ special_error|safe }}
{%- else %}
<h1>{{ get_part('error page heading', word('Error')) }}</h1>
{%- endif %}
{{ get_part('error page pre') }}

{%- if show_retry %}
<p><a href="#" id="da-retry">{{ word('Retry') }}</a></p>

{%- endif %}
{%- if verbose %}
{{ error|safe }}

{%- if show_debug and historytext != 'None' %}

<h3>{{ word('History') }}</h3>

{{ historytext | safe }}

{%- endif %}
{%- if show_debug and yaml_filename %}
<p><a target="_blank" href="{{ url_for('get_variables', i=yaml_filename) }}">{{ word('Show variables and values') }}</a></p>
{%- endif %}

{%- if show_debug and logtext != 'None' %}

<h3>{{ word('Log') }}</h3>

<pre>{{ logtext }}</pre>

{%- endif %}
{%- endif %}
{{ get_part('error page post') }}
{% endblock %}
