{% extends 'base_templates/flask_wide_base.html' %}

{% block content %}
{% from "base_templates/form_macros.html" import render_field, render_file_field, render_submit_field with context %}
          <p>{{ version }}</p>
          <form action="" method="POST" role="form" class="daconfigform">
            {{ form.hidden_tag() }}
            <textarea rows="24" cols="80" id="config_content" name="config_content"></textarea>
            <div class="form-actions mt-2">
              {{ render_submit_field(form.submit, class="btn btn-primary " + config['BUTTON_CLASS']) }}
              {{ render_submit_field(form.cancel, class="btn btn-secondary " + config['BUTTON_CLASS']) }}
            </div>
          </form>
{% endblock %}
