{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "base_templates/form_macros.html" import render_submit_field %}
<h1>{{ title }}</h1>

<p>{{ description }}</p>

<form action="" method="POST" role="form">
  {{ form.hidden_tag() }}
  <div>
    {% if uses_github %}
    {{ render_submit_field(form.unconfigure, class="btn btn-danger " + config['BUTTON_CLASS']) }}
    {% else %}
    {{ render_submit_field(form.configure, class="btn btn-success " + config['BUTTON_CLASS']) }}
    {% endif %}
    {{ render_submit_field(form.cancel, class="btn btn-warning " + config['BUTTON_CLASS']) }}
  </div>
</form>

{% endblock %}
