{% extends 'flask_user/public_base.html' %}

{% block content %}

<h3 class="page-header dainterviewpage">{{ title }}</h3>
<p class="dainterviewpage">{{ word('Click interview title to resume an interview you already started.') }}</p>

<table class="table table-striped dainterviewpage">
  <thead>
    <tr>
      <th>Title</th>
      <th>Started</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for interview in interviews %}
    <tr>
      <td>{% if interview['valid'] %}<a href="{{ url_for('index', i=interview['filename'], session=interview['session'], from_list=1) }}">{{ interview['title'] }}</a>{% else %}{{ interview['title'] }}{% endif %}{% if interview['subtitle'] %}<br><span class="text-muted dainterviewsubtitle">{{ interview['subtitle'] }}</span>{% endif %}</td>
      <td>{{ interview['starttime'] }}</td>
      <td><a class="label label-warning" href="{{ url_for('interview_list', action='delete', filename=interview['filename'], session=interview['session']) }}">{{ word('Delete') }}</a></td>
    </tr>
  {% endfor %}
  {% if numinterviews > 0 %}  
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a id="delete_all" class="label label-danger" href="{{ url_for('interview_list', action='delete_all') }}">{{ word('Delete All') }}</a></td>
    </tr>
  {% endif %}
  </tbody>
</table>
{% endblock %}
