{% extends 'base_templates/flask_extra_wide_base.html' %}

{% block content %}
<h2>{{ word("Monitor") }}</h2>
<div class="monitorcontrols" id="monitorcontrols">
<h4>{{ word("Your status: ") }}
<button title="{{ word("Click to change your status to not available") }}" id="daAvailable" class="btn btn-primary">Available for chat</button>
<button title="{{ word("Click to change your status to available") }}" id="daNotAvailable" class="btn btn-danger">Not available for chat</button>
</h4>
<div class="form-group">
  <label for="daPhoneNumber" class="input-group-addon" title="{{ word('Must be in E.164 format.  U.S. phone numbers begin with +1.') }}">{{ word("Your phone #") }}</label>
  <div id="daPhoneInfo" class="input-group col-md-8 invisible">
    <input class="form-control" id="daPhoneNumber" placeholder="e.g., +12025551212"><span id="daPhoneError" title="{{ word('The phone number is not in E.164 format (e.g. +12025551212)') }}" class="input-group-addon phone-warning invisible"><i class="fas fa-exclamation-triangle"></i></span><span id="daPhoneSaved" class="input-group-addon invisible phone-saved">{{ word('Saved') }}</span>
  </div>
</div>
<div class="monitorroles" id="monitorroles">
<h4>{{ word("You are available for the following roles: ") }}</h4>
</div>
<h3>{{ word("Sessions") }}</h3>
<ul class="list-group" id="monitorsessions"></ul>
<p id="emptylist">{{ word("There are no active sessions.") }}</p>
<a href="#" style="display: none" id="chat-message-above" class="chat-notifier chat-notifier-above"></a>
<a href="#" style="display: none" id="chat-message-below" class="chat-notifier chat-notifier-below"></a>
{% endblock %}
