{%- extends 'base_templates/office.html' %}
{%- block content %}
        <div id="variable">
            <label for="inputVariableName">Variable Name</label>
            <input id="inputVariableName" type="text" class="ms-TextField-field" />
            <input type="checkbox" id="checkboxVariableReplaceAll" class="ms-checkbox" />
            <label for="checkboxVariableReplaceAll" class="ms-Label">Find and Replace All</label>
            <!-- below should be single-argument functions only -->
            <div class="ms-Dropdown">
                    <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--caretDown"></i>
                    <select id="selectVariableFormat" class="ms-Dropdown-select">
                        <option value="">(none)</option>
                        <option value="currency">Currency (localized)</option>
                        <option value="capitalize">Capitalize</option>
                        <option value="indefinite_article">Indefinite Article</option>
                        <option value="nice_number">Nice Number</option>
                        <option value="noun_plural">Pluralize noun</option>
                        <option value="noun_singular">Singularize noun</option>
                        <option value="ordinal_number">Ordinal Number</option>
                        <option value="title_case">Title Case</option>
                        <option value="verb_past">Past tense verb</option>
                        <option value="verb_present">Present tense verb</option>
                        <option value="fix_punctuation">Fix punctuation</option>
                    </select>
                </div>

            <div role="button" id="insertVariable" class="ms-Button ms-Button--primary">
                <span class="ms-Button-label ms-Label">Insert Variable</span>
            </div>
        </div>  

        <div id="if">
            <label for="inputIfExpression">Expression or Variable Name</label>
            <input id="inputIfExpression" type="text" class="ms-TextField-field" />
            <div role="button" id="ifPara" class="ms-Button ms-Button--primary">
                <span class="ms-Button-label">IF (paragraph or list item)</span>
            </div>
            <div role="button" id="ifInline" class="ms-Button ms-Button--primary">
                <span class="ms-Button-label">IF (inline)</span>
            </div>
        </div>

        <div id="list">
            <label for="inputListVariableName">List Variable Name</label>
            <input id="inputListVariableName" type="text" class="ms-TextField-field" />
            <input type="checkbox" id="checkboxOnlyTrue" class="ms-checkbox" />
            <label for="checkboxOnlyTrue" class="ms-Label">Display only True (checked) items</label>
            <div role="button" id="listPara" class="ms-Button ms-Button--primary">
                <span class="ms-Button-label">LIST (each item on own line)</span>
            </div>
        </div>

        <div id="insert">
            <label for="inputTemplateName">Child template name
                <i class="ms-Icon ms-Icon--FabricOpenFolderHorizontal" aria-hidden="true"></i>
                <input id="inputTemplateName" type="text" class="ms-TextField-field" />
            </label>
            <label for="inputTemplateOptions">Optional argument to set variables in child template (like: caption_title ="MOTION FOR CONTEMPT", caption_subtitle = "DEFENDANT'S MOTION FOR CONTEMPT")</label>
            <input id="inputTemplateOptions" type="text" class="ms-TextField-field" />

            <div role="button" id="insertTemplate" class="ms-Button ms-Button--primary">
                <span class="ms-Button-label">INSERT Word Template </span>
            </div>
        </div>

        <div id="comment">
            <div role="button" id="commentPara" class="ms-Button ms-Button--primary">
                <span class="ms-Button-label">Toggle Comments for Selection</span>
            </div>
        </div>
{%- endblock %}
