{%- extends 'base_templates/page_base_half.html' %}
{%- from "base_templates/form_macros.html" import render_addon_field, render_field, render_submit_field, myrender_hidden_field, render_file_field with context %}
{%- block top %}
<div class="container"><p><a href="{{ url_for('playground_page') }}" class="btn btn-info btn-md"><i class="glyphicon glyphicon-arrow-left"></i> {{ word("Back to playground") }}</a></p></div>
{%- endblock %}
{%- block content %}
<div class="page-header">
  <h1>{{ header }}</h1>
</div>
{%- if description %}
<p>{{ description }}</p>
{%- endif %}
{%- if upload_header %}
{%- if files %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>{{ word("File name") }}</th>
      <th style="text-align:right;">{{ word("Action") }}</th>
    </tr>
  </thead>
  <tbody>
  {%- for file in files %}
    <tr>
      <td><a target="_blank" href="{{ url_for('playground_' + section, userid=userid, filename=file) }}">{{ file }}</a></td>
      <td style="text-align:right;">{% if file in convertible_files %}<a class="label label-info" href="?section={{ section }}&convert={{ file }}">{{ word('Convert to .md') }}</a> {% endif %}<a class="label label-warning" href="?section={{ section }}&delete={{ file }}">{{ word('Delete') }}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{%- else %}
<p><em>{{ word("No files have been uploaded yet.") }}</em></p>
{%- endif %}

<div class="page-header">
  <h3>{{ upload_header }}</h3>
</div>

<form action="" method="POST" class="form" role="form" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  {{ myrender_hidden_field(form.section, value=section) }}
  {{ render_file_field(form.uploadfile, tabindex=80) }}
  <div class="form-actions">
    {{ render_submit_field(form.submit, tabindex=100) }}
  </div>
</form>
{%- endif %}
{%- endblock %}
{%- block below %}
{%- if edit_header %}
<h3>{{ edit_header }}</h3>
{%- endif %}
<ul class="nav nav-tabs">{% for file in editable_files %}{% if file == current_file %}<li class="active"><a><span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ file }}</a></li>{% else %}<li><a href="?section={{ section }}&file={{ file }}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ file }}</a></li>{% endif %}{% endfor %}{% if current_file not in editable_files %}<li class="active"><a href="#">{{ word('New') }}</a></li>{% endif %}<li><a title="{{ word('New file') }}" href="?section={{ section }}&new=1"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a></li></ul>

<form action="{{ url_for('playground_files') }}" method="POST" class="form" role="form" id="formtwo">
  {{ formtwo.hidden_tag() }}
  {{ myrender_hidden_field(formtwo.section, value=section) }}
  {{ myrender_hidden_field(formtwo.original_file_name, value=current_file) }}
  <div class="daspacer"></div>
  {{ render_addon_field(formtwo.file_name, tabindex=20) }}
  <div class="daspacer"></div>
  <div class="form-group">
    <textarea rows="24" cols="80" id="file_content" name="file_content" tabindex="70">{{ content }}</textarea>
  </div>
  <div class="form-actions">
    {{ render_submit_field(formtwo.submit, tabindex=100, class="btn btn-primary btn-lg") }}
  </div>
</form>
{%- if after_text %}
<p>{{ after_text }}</p>
{%- endif %}

{%- endblock %}
