{% extends 'base_templates/flask_two_col_base.html' %}
{% block content %}
{%- from "base_templates/form_macros.html" import render_addon_field, render_submit_field, myrender_hidden_field with context %}
<ul class="nav nav-pills">
  <li>
    <a title="{{ word('Create new interview') }}" href="?new=1"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;&nbsp;{{ word('Add') }}</a>
  </li>
  <li>
    <a title="{{ word('Create interview with wizard') }}" href="{{ url_for('index', i='docassemble.base:data/questions/wizard-template.yml') }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;&nbsp;{{ word('Wizard') }}</a>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" title="{{ word('Items in the Playground other than interviews') }}">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;&nbsp;{{ word('Folders') }}<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{{ url_for('playground_packages') }}"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>&nbsp;&nbsp;{{ word('Packages') }}</a></li>
      <li><a href="{{ url_for('playground_files', section='template') }}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;{{ word('Templates') }}</a></li>
      <li><a href="{{ url_for('playground_files', section='static') }}"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>&nbsp;&nbsp;{{ word('Static files') }}</a></li>
      <li><a href="{{ url_for('playground_files', section='modules') }}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;&nbsp;{{ word('Modules') }}</a></li>
    </ul>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" title="{{ word('Edit another interview')}}">
      <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;{{ current_file }}<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% for file in files %}{% if file == current_file %}<li class="active">
        <a href="#"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ file }}
        </a>
      </li>
      {% else %}<li>
        <a href="?file={{ file }}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ file }}
        </a>
      </li>
      {% endif %}{% endfor %}
    </ul>
  </li>
</ul>
<form action="{{ url_for('playground_page') }}" method="POST" class="form" role="form" id="form">
  {{ form.hidden_tag() }}
  {{ myrender_hidden_field(form.original_playground_name, value=current_file) }}
  <div class="daspacer"></div>
  {{ render_addon_field(form.playground_name, tabindex=20) }}
  <div class="daspacer"></div>
  <div class="form-group">
    <textarea rows="34" cols="80" id="playground_content" name="playground_content" tabindex="70">{{ content }}</textarea>
  </div>
  <div class="form-actions">
    {{ render_submit_field(form.submit, class="btn btn-primary btn-lg") }}
    {{ render_submit_field(form.run, id='daRun', class="btn btn-warning btn-lg") }}
    {% if is_new == 'False' %}{{ render_submit_field(form.delete, id='daDelete', class="btn btn-default btn-lg") }}
    {% if interview_path%}
    <a title="Right-click to copy link" class="label label-default example-share" target="_blank" href="{{ url_for('index', i=interview_path) }}"><i class="glyphicon glyphicon-link"></i> {{ word('Share') }}</a>
    {% endif %}
    {% endif %}
  </div>
</form>
{%- endblock %}
{% block rightside %}
            <div id="playgroundbox" class="panel panel-info playgroundbox">
              <div class="panel-heading">
                <h3 class="panel-title">{{ word('Variables, etc. from') }}&nbsp;<span class="select-wrapper"><select id="daVariables" class="playground-select">{% for file in pulldown_files %}<option {% if file == active_file %}selected {% endif %}value="{{ file }}">{{ file }}</option>{% endfor %}</select></span>&nbsp;<a class="label label-primary darunbutton" target="_blank" id="daRunButton">{{ word('Run') }}</a></h3>
              </div>
              <div class="panel-body" id="daplaygroundpanel">
                <table id="daplaygroundtable" class="daplaygroundtable">{{ variables_html }}
                </table>
              </div>
            </div>
{%- endblock %}
{% block bottompart %}
{{ example_html }}
{%- endblock %}
