{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "base_templates/form_macros.html" import render_field, render_file_field, render_submit_field with context %}

<h1>Update package</h1>

<form action="" method="POST" class="form" role="form" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="form-group">
    <h4>{{ word('You can either provide a:') }}</h4>
    {{ render_field(form.giturl, tabindex=70, placeholder='https://github.com/yourname/docassemble-yourpackage') }}
    <h4>{{ word('Or you can upload a:') }}</h4>
    {{ render_file_field(form.zipfile, tabindex=80) }}
  </div>
  <div class="form-actions">
    {{ render_submit_field(form.submit, tabindex=100) }}
  </div>

</form>

{% endblock %}
