{% extends 'base_templates/page_base_half.html' %}

{% block content %}
{% from "base_templates/form_macros.html" import render_field, render_file_field_simple, render_submit_field with context %}

<h2>{{ word('Install or update a package') }}</h2>

<form action="{{ url_for('update_package') }}" method="POST" class="form" role="form" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="form-group">
    <h4>{{ word('You can provide a:') }}</h4>
    {{ render_field(form.giturl, tabindex=70, placeholder='https://github.com/yourname/docassemble-yourpackage') }}
    <h4>{{ word('Or you can upload a:') }}</h4>
    {{ render_file_field_simple(form.zipfile, tabindex=80) }}
    <h4>{{ word('Or you can specify a:') }}</h4>
    {{ render_field(form.pippackage, tabindex=90) }}
  </div>
  <div class="form-actions">
    {{ render_submit_field(form.submit, tabindex=100) }}
  </div>
</form>

<h2>{{ word('Update or uninstall an existing package') }}</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Package name</th>
      <th style="text-align:right;">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for package in package_list %}
    <tr>
      <td>{{ package.package.name }}{% if package.package.packageversion %} <span class="text-muted">{{ package.package.packageversion }}</span>{% endif %}</td>
      <td style="text-align:right;">{% if package.can_update %}<a class="btn btn-default btn-xs" href="{{ url_for('update_package', package=package.package.name, action='update') }}">{{ word('Update') }}</a>{% endif %} {% if package.can_uninstall %}<a class="btn btn-warning btn-xs" href="{{ url_for('update_package', package=package.package.name, action='uninstall') }}">{{ word('Uninstall') }}</a>{% endif %}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

<h2>{{ word('Upgrade docassemble') }}</h2>

<div class="form-actions">
  <a class="btn btn-primary btn-lg" href="{{ url_for('update_package', package='docassemble.webapp', action='update', base='1') }}">{{ word('Upgrade') }}</a>
</div>

{% endblock %}
