{% extends 'base_templates/page_base_half.html' %}

{% block content %}
{% from "base_templates/form_macros.html" import render_field, render_submit_field, render_checkbox_field, render_multiselect_field %}

<h1>{{ word('Edit User Profile') }}</h1>

{%- if form.uses_mfa.data %}
<a class="btn btn-primary btn-md btn-block" href="?disable_mfa=1">{{ word('Disable two-factor authentication') }}</a>
{%- endif %}
{%- if form.confirmed_at.data is not none %}
<a class="btn btn-primary btn-md btn-block" href="?reset_email_confirmation=1">{{ word('Reset e-mail confirmation') }}</a>
{%- endif %}

<form action="" method="POST" role="form">
    {{ form.hidden_tag() }}
    
    {{ render_checkbox_field(form.active) }}

    {{ render_multiselect_field(form.role_id) }}

    {{ render_field(form.email, tabindex=235) }}

    {{ render_field(form.first_name, tabindex=240) }}

    {{ render_field(form.last_name, tabindex=250) }}

    {{ render_field(form.country, tabindex=260, right_message='<a target="_blank" href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">List of Country Codes</a>') }}

    {{ render_field(form.subdivisionfirst, tabindex=270) }}

    {{ render_field(form.subdivisionsecond, tabindex=280) }}

    {{ render_field(form.subdivisionthird, tabindex=290) }}

    {{ render_field(form.organization, tabindex=300) }}
    
    {{ render_field(form.language, tabindex=310) }}
    
    {{ render_field(form.timezone, tabindex=320) }}

    <br>
    <div class="form-actions">
      {{ render_submit_field(form.submit, tabindex=330) }}
    </div>
</form>

{% endblock %}
