{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "base_templates/form_macros.html" import render_field, render_submit_field, render_checkbox_field %}

<h1>{{ word('User Profile') }}</h1>

<ul class="nav nav-pills">{% if current_user.social_id.startswith('local') %}<li><a href="{{ url_for('user.change_password') }}">{{ word('Change password') }}</a></li>{% endif %}{% if debug and (not current_user.is_anonymous) and (not current_user.has_roles(['admin', 'developer'])) %}<li><a href="{{ url_for('request_developer') }}">{{ word('Request Developer Account') }}</a></li>{% endif %}</ul>

<form action="" method="POST" role="form" class="form">
    {{ form.hidden_tag() }}

    {{ render_field(form.first_name, tabindex=240) }}

    {{ render_field(form.last_name, tabindex=250) }}

    {% if (not current_user.is_anonymous) and current_user.has_roles(['admin', 'developer']) %}

      {{ render_field(form.country, tabindex=260, right_message='<a target="_blank" href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">List of Country Codes</a>') }} 

      {{ render_field(form.subdivisionfirst, tabindex=270) }}
  
      {{ render_field(form.subdivisionsecond, tabindex=280) }}

      {{ render_field(form.subdivisionthird, tabindex=290) }}
  
      {{ render_field(form.organization, tabindex=300) }}
  
      {{ render_field(form.timezone, tabindex=310) }}
    
    {% endif %}
    <br>
    <div class="form-actions">
      {{ render_submit_field(form.submit, tabindex=320) }}
    </div>
</form>

{% endblock %}
