{% extends 'base_templates/page_base_half.html' %}

{% block content %}

<h1>{{ word('User List') }}</h1>

<a class="btn btn-primary btn-md btn-block" href="{{ url_for('user_add') }}">{{ word('Add a user') }}</a>
<a class="btn btn-primary btn-md btn-block" href="{{ url_for('invite') }}">{{ word('Invite a user') }} </a>
<a class="btn btn-primary btn-md btn-block" href="{{ url_for('privilege_list') }}">{{ word('Edit Privileges') }}</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{ word('E-mail') }}</th>
      <th scope="col">{{ word('Name') }}</th>
      <th scope="col" style="text-align:right;">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for user_info in users %}
    <tr>
      {%- if user_info['active'] %}
      <td>{{ user_info['id'] }}</td>
      <td>{{ user_info['email'] }}</td>
      <td>{{ user_info['name'] }}</td>
      {%- else %}
      <td class="text-danger">{{ user_info['id'] }}</td>
      <td class="text-danger">{{ user_info['email'] }} ({{ word('account disabled') }})</td>
      <td class="text-danger">{{ user_info['name'] }}</td>
      {%- endif %}
      <td style="text-align:right;"><a class="label label-success" href="{{ url_for('edit_user_profile_page', id=user_info['id']) }}">{{ word('Edit') }}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
