<!DOCTYPE html>
<html lang="en">
{% include head.html %}  <body>
    {% include header.html %}
    <div class="container">
      <div class="row">
	<div class="col-md-2">
	  <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="{{ site.baseurl }}/docs.html" class="navbar-brand">Documentation</a>
              </div>
              <div class="navbar-collapse collapse sidebar-navbar-collapse">
                <ul class="nav navbar-nav">
                  {% for section in site.data.docs %}
                  <li style="padding-left:15px;"><strong>{{ section.title }}</strong></li>
                  {% include docs_section.html items=section.docs %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
	</div>
	<div class="col-md-10">
	  <header>
	    <h1 class="page-header">{{ page.title }}</h1>
	  </header>
	  <main id="main">
	  {{ content }}
	  {% include section_nav.html %}
	  </main>
	</div>
      </div>
    </div>
    <hr>
    {% include footer.html %}
    {% include google-analytics.html %}
  </body>
</html>
