<!DOCTYPE html>
<html lang="en" class="title-body" itemscope itemtype="http://schema.org/WebPage">
{% include headtitle.html %}
  <body class="titleonepage">
    <div class="title-nav ontop">
{% include header.html %}
    </div>
{{ content }}
    <div class="centered">
{% include footer-attribution.html %}
    </div>
    <script src="{{ '/jquery/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/bootstrap5/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
    <script>
      function scrollToAnchor(aid){
        var aTag = $("#" + aid);
        $('html,body').animate({scrollTop: aTag.offset().top-50});
      }
      $("#learnmore").click(function(event){
        scrollToAnchor('pagetwo');
        event.preventDefault();
      });
    </script>
  </body>
</html>
