<!DOCTYPE html>
<html lang="en" class="title-body" itemscope itemtype="http://schema.org/WebPage">
{% include headtitle.html %}
  <body class="title-body">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
	<div class="title-nav">
          {% include header.html %}
	</div>
	<div class="cover-container">
	  {{ content }}
          <div class="mastfoot">
	    {% include footer-attribution.html %}
          </div>
	</div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
