<!DOCTYPE html>
<html lang="en" class="title-body" itemscope itemtype="http://schema.org/WebPage">
{% include headtitle.html %}
  <body class="title-body">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="title-nav ontop">
{% include header.html %}
        </div>
        <div class="cover-container">
          {{ content }}
          <div class="mastfoot">
{% include footer-attribution.html %}
          </div>
        </div>
      </div>
    </div>
    <script src="{{ '/jquery/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/bootstrap5/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
